@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F5F5F5;
  --foreground: #1d052c;
}

body {
  background: var(--background);
}

@layer utilities {
  .scrollbar-none {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .scrollbar-none::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
  }
}
.scrollbar-style {
    scrollbar-width: thin;
    scroll-behavior: smooth;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

select > option:hover {
  background-color: black;
  color: white;
}

/* Hide number input arrows for Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide number input arrows for Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}
.scrollbar-hidden {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}

.box-shadow {
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

  input:-webkit-autofill {
    @apply bg-transparent !important; /* Makes background transparent */
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
  }
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    @apply bg-transparent !important;
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
  }

  .react-tel-input .form-control {
    font-size: clamp(1rem, 1vw, 1vw) !important;
    width: -webkit-fill-available !important;
    padding: clamp(1.22rem, 1.22vw, 1.22vw) !important;
    margin-left: clamp(2rem, 2vw, 2vw) !important;
    border-width: clamp(0.1px, 0.1vw, 0.1vw) !important;
    border-radius: clamp(0.3rem, 0.3vw, 0.3vw) !important;
    border-color: #d1d5db !important;
  }

  .react-tel-input .flag-dropdown {
    border-color: #d1d5db !important;
    border-radius: clamp(0.3rem, 0.3vw, 0.3vw) !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-width: clamp(0.1px, 0.1vw, 0.1vw) !important;
    width: clamp(2.5rem, 2.5vw, 2.5vw) !important;
  }
  
  .react-tagsinput-tag{
    display: none;
  }
.react-tagsinput-input{
  width: 100px !important;
}